.container {
  max-width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.text-center {
  text-align: center;
}
.title-primary {
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: 0em;
  color: #1b1232;
}
.title-secondary {
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
}
.title-tertiary {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
}
.text-primary {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  color: #413e57;
}
.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-group * {
  margin-left: 8px;
  margin-right: 8px;
}
@media (max-width: 991px) {
  .title-tertiary {
    font-size: 14px;
    line-height: 21px;
  }
}
@media (max-width: 650px) {
  .form-group {
    flex-wrap: wrap;
  }
  .form-group button {
    width: 100%;
    margin-top: 16px;
  }
  .form-group input {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .title-primary {
    font-size: 24px;
    line-height: 33.6px;
  }
  .text-primary {
    font-size: 14px;
    line-height: 19.6px;
  }
}
.card-container {
  display: flex;
  justify-content: space-between;
}
